.nav {
  top: 0;
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
  height: 70px;
  z-index: 1;
  transition-timing-function: ease-in;
}
.nav_black {
  background-color: #111;
}
.netflix {
  position: fixed;
  width: 100px;
  left: 0;
  object-fit: contain;
  margin-left: 6px;
}

.avatar {
  position: fixed;
  width: 30px;
  right: 0;
  object-fit: contain;
  margin-right: 5px;
}

.nav a {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
